.image_class {
padding-top: 10px !important  ;
margin: 10px
}

.index_image {
    width: 200px; height: 200px;
    padding-bottom: 30px;
    padding-top: 30px
}

.list_class {
    padding-top: 10px !important  ;
    margin: 20px;
    padding-bottom: 30px
    }